{$OPS_HOST:s.ks.tv} {
	encode gzip
	handle /.well-known/acme-challenge/* {
		root * /var/www/certbot
		file_server
	}
	handle_path /radar/* {
		reverse_proxy ops_radar:80
	}
	handle_path /oncall/* {
		reverse_proxy oncall_nginx_5:80
	}
	handle {
		reverse_proxy ops_hub:80
	}
}
